.gitattributes linguist-detectable
*requirements.txt linguist-detectable
*.cfg linguist-detectable
*.env linguist-detectable
*.inc linguist-detectable
*.ini linguist-detectable
*.json linguist-detectable
*.reg linguist-detectable
*.txt linguist-detectable
*.vdf linguist-detectable
*.xml linguist-detectable
Windows/Configs/WinSetView/WinViewBak.reg linguist-generated
*.inc linguist-language=INI
