.env
.venv
/artifacts/
/Windows/Configs/Notepad++/langs.xml
/Windows/Configs/Notepad++/NppExec
/Windows/Configs/Notepad++/stylers.xml
/Windows/Configs/Notepad++/userDefineLang.xml
/Windows/Configs/Notepad++/v852NoNeedShortcutsBackup.xml
/Windows/Setup.log
/Windows/Test*.ps1
/Windows/Verbose.log
tempCodeRunnerFile.*
venv
