.env
venv
tempCodeRunnerFile.*
Windows/Setup.log
Windows/Verbose.log
Windows/Test*.ps1
Windows/Configs/Notepad++/NppExec
Windows/Configs/Notepad++/langs.xml
Windows/Configs/Notepad++/stylers.xml
Windows/Configs/Notepad++/userDefineLang.xml
Windows/Configs/Notepad++/v852NoNeedShortcutsBackup.xml
